body {
  font-family: "Oswald", sans-serif;
}

.container {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(9, 1fr);
  height: 95vh;
  width: 95vw;
  margin: 0 auto;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  grid-row: 2 / span 4;
  grid-column: 3 / span 5;
}

.central > * {
  text-align: center;
}

.icon {
  height: 1.2rem;
  width: auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one {
  border-radius: 50% 0 0 0;
}

.two {
  border-radius: 50% 0 50% 0;
  border: 1px solid white;
  animation: two 2s linear forwards;
  box-shadow: none;
  z-index: 99;
}

@keyframes two {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 10px lightgray;
  }
}

.three {
  border-radius: 50% 0 0 50%;
  background-color: white;
  animation: three 2s linear forwards;
  box-shadow: none;
  z-index: 1;
  border-left: 1px solid lightgray;
}

@keyframes three {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: -10px 20px 40px lightgray;
  }
}

.seven {
  border-radius: 50% 0 0 50%;
  background-color: white;
  animation: seven 2s linear forwards;
  box-shadow: none;
  border: 1px solid white;
  border-left: lightgray;
  border-bottom: lightgray;
}

@keyframes seven {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 20px 40px 5px lightgray;
  }
}

.right-square-one {
  animation: right-square-one 3s linear forwards;
  box-shadow: none;
  z-index: 99;
  background-color: white;
}

@keyframes right-square-one {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 5px 10px 50px 10px lightgray;
  }
}

.right-square-two {
  border-radius: 0 0 50% 0;
  animation: right-square-two 3s linear forwards;
  box-shadow: none;
  z-index: 90;
}

@keyframes right-square-two {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 10px lightgray;
  }
}

.left-square-two {
  border-radius: 0 50% 0 0;
  animation: left-square-two 3s linear forwards;
  box-shadow: none;
}

@keyframes left-square-two {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 10px lightgray;
  }
}

.left-square-three,
.right-square-seven {
  border-radius: 0 0 0 50%;
  animation: left-square-three 3s linear forwards;
  box-shadow: none;
  z-index: 99;
}

@keyframes left-square-three {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 10px 40px 10px lightgray;
  }
}

.right-square-eight {
  border-radius: 50% 50% 0 0;
  animation: right-square-eight 3s linear forwards;
  box-shadow: none;
}

@keyframes right-square-eight {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 10px 40px 10px lightgray;
  }
}

.left-square-four,
.right-square-three {
  border-radius: 50%;
  animation: right-square-three 3s linear forwards;
  box-shadow: none;
  background-color: white;
  z-index: 89;
}

@keyframes right-square-three {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 10px 40px 10px lightgray;
  }
}

.left-square-six {
  border-radius: 0 0 50% 0%;
  animation: left-square-six 3s linear forwards;
  box-shadow: none;
  background-color: white;
  z-index: 90;
}

@keyframes left-square-six {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 10px lightgray;
  }
}

.bottom-row-one {
  animation: bottom-row-one 4s linear forwards;
  box-shadow: none;
  border-radius: 0 0 50% 50%;
  z-index: 95;
}

@keyframes bottom-row-one {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 10px 40px 10px lightgray;
  }
}

.bottom-row-two {
  animation: bottom-row-two 4s linear forwards;
  box-shadow: none;
  border-radius: 0 50% 0 0;
  background-color: white;
  z-index: 91;
}

@keyframes bottom-row-two {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 20px 10px 40px 10px lightgray;
  }
}

.bottom-row-three {
  border-radius: 50% 0 50% 0;
  border: 1px solid white;
  animation: bottom-row-three 4s linear forwards;
  box-shadow: none;
}

@keyframes bottom-row-three {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 1px 10px 40px 10px lightgray;
  }
}

.bottom-row-four {
  background-color: white;
  z-index: 92;
  animation: bottom-row-four 4s linear forwards;
  box-shadow: none;
}

@keyframes bottom-row-four {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 1px 40px 10px lightgray;
  }
}

.bottom-row-five {
  border-radius: 0 0 50% 0%;
  background-color: white;
  z-index: 91;
  animation: bottom-row-five 4s linear forwards;
  box-shadow: none;
}

@keyframes bottom-row-five {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 20px lightgray;
  }
}

.bottom-row-six,
.right-square-six {
  border-radius: 0 50% 0 50%;
  background-color: white;
  z-index: 90;
  animation: bottom-row-six 4s linear forwards;
  box-shadow: none;
}

@keyframes bottom-row-six {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 20px lightgray;
  }
}

.bottom-row-seven {
  border-radius: 0 0 50% 0%;
  animation: bottom-row-seven 4s linear forwards;
  box-shadow: none;
}

@keyframes bottom-row-seven {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 10px 10px 40px 20px lightgray;
  }
}

.header {
  text-shadow: 1px 1px 1px black;
  font-size: 2.5rem;
}

.name {
  font-size: 3.2rem;
  color: #5ae579;
  margin: 0.2rem;
}

.socials {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 85%, rgba(194, 194, 194, 0.459) 100%);
  }
}
