body {
  background-color: #fff;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff4f 40px), repeating-linear-gradient(#e4e4e431, #e3e3e347);
  color: #000;
  height: 100vh;
}

body.dark-mode {
  background-color: #000;
  background-image: radial-gradient(#8b8c9a92 0.5px, #000 0.5px);
  background-size: 35px 35px;
  color: #fff;
}

body.dark-mode a {
  background-color: #000;
  opacity: 1;
  background-image: radial-gradient(#656565 0.5px, #000 0.5px);
  background-size: 10px 10px;
  color: #fff;
}

.socials > img {
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 99.8vw;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px 1px grey;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
}

.dropdown-content {
  position: absolute;
  list-style: none;
  padding: 0;
  margin-left: -3rem;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 3px;
}

.drop-btn {
  background-color: white;
  border: none;
}

.drop-btn > img {
  width: 1.5rem;
  height: 1.5rem;
}

.menu {
  width: 5rem;
  padding: 0.5rem;
}

.links {
  text-decoration: none;
  color: black;
  padding: 0 1rem;
}

.image {
  width: auto;
  height: 3rem;
  margin-top: 0.5rem;
}

.socials-div {
  position: absolute;
  height: calc(100vh - 4.04rem);
  box-shadow: 1px 1px 5px 0 grey;
  border-bottom: 0;
}


.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  width: 4rem;
  height: 100%;
  margin-left: 7rem;
  gap: 3rem;
  border-bottom: 0;
  border-left: 0;
  padding-right: 0.5rem;
}

.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > div {
  width: 50%;
}

.changing-div > h2,
.header {
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 0;
}

.header span {
  font-weight: 900;
  font-size: 2.5rem;
  font-style: italic;
}

.changing-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.languages {
  width: auto;
  height: 50px;
  overflow: hidden;
  margin-top: 2rem;
}

.languages > p {
  margin: 0.5rem;
  margin-top: 0;
  padding: 0.7rem;
  animation: slideUp 5s infinite;
  font-size: 1.2rem;
  color: white;
  font-weight: 900;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.javascript {
  background-color: rgb(247, 172, 185);
}

.react {
  background-color: lightseagreen;
}

.rails {
  background-color: rgb(202, 237, 131);
}

.central-div > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

@keyframes slideUp {
  50% { transform: translateY(-65%); } /* Slide second paragraph up */
  75% { transform: translateY(-180%); } /* Slide second paragraph up */
  100% { transform: translateY(-300%); } /* Slide third paragraph up */
}


.home-about {
  margin-top: 3rem;
  width: 90%;
}

.home-about > * {
  font-size: 1.3rem;
  margin: 0;
}

.about-text {
  margin-left: 1.2rem;
  padding: 1rem;
  font-style: italic;
  font-size: 1.2rem;
}
